<!-- begin post -->
{% assign author = site.authors[post.author] %}
{% assign thumb_pos = post.thumb_position | default: site.data.thumb_positions[post.slug] | default: 'center' %}
{% assign thumb_fit = post.card_fit | default: site.data.thumb_fit[post.slug] | default: 'cover' %}
{% if include.featured_card %}
{% assign card_image_url = post.image %}
{% else %}
{% include card-image-url.html %}
{% endif %}

<div class="blog-grid-item">
    <div class="card h-100 post-card">
        <div class="maxthumb{% if thumb_fit == 'contain' %} maxthumb--contain{% endif %}">
            {% if post.image %}

                {% if site.lazyimages == "enabled" %}
                    <img class="img-thumb{% if thumb_fit == 'contain' %} img-thumb--contain{% elsif thumb_pos != 'center' %} img-thumb--{{ thumb_pos }}{% endif %} lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if card_image_url contains "://" %}{{ card_image_url }}{% else %}{{ site.baseurl }}{{ card_image_url | prepend: "/" }}{% endif %}" alt="{{ post.title }}">
                {% else %}
                    <img class="img-thumb{% if thumb_fit == 'contain' %} img-thumb--contain{% elsif thumb_pos != 'center' %} img-thumb--{{ thumb_pos }}{% endif %}" src="{% if card_image_url contains "://" %}{{ card_image_url }}{% else %}{{ site.baseurl }}{{ card_image_url | prepend: "/" }}{% endif %}" alt="{{ post.title }}">
                {% endif %}

            {% endif %}
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <span class="card-title-text text-dark">{{ post.title }}</span>
                {% if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                {% include star_rating_postbox.html %}
                </div>
                {% endif %}
            </h2>
            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:30 }}</h4>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {% if post.author %}
                <span class="meta-footer-thumb">
                {% if author.avatar %}
                <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                {% else %}
                <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                {% endif %}
                </span>
                <span class="author-meta">
                <span class="post-name font-weight-bold">{{ author.display_name }}</span> 
                {% endif %}
                {% capture post_date_ro %}{% include date-ro.html date=post.date %}{% endcapture %}
                <span class="post-date">{{ post_date_ro | strip }}</span>
                {% for category in post.categories %}
                <a class="smoothscroll badge badge-primary text-capitalize post-card-badge" href="{{site.baseurl}}/destinatii#{{ category | replace: " ","-" }}">{{ category }}</a>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
        <a class="post-card-link" href="{{ site.baseurl }}{{ post.url }}" aria-label="{{ post.title }}"></a>
    </div>
</div>
<!-- end post -->
